@charset "utf-8";

/* CSS Document -- I typically create CSS widget libraries and would have the tabs and accordion linked in source code. */

@font-face {
  font-family: 'Oswald Regular';
  src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald Bold';
  src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: 'PermanentMarker Regular';
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(182, 174, 150, 0.4); /* Opacity for IE Browsers */
  background-color: #B6AE9640; /* Added 40% alpha value opacity to hexcode */
}

a {
  color: #8EB734;
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(182, 174, 150, 0.4);
}
a:hover {
  background-color: rgba(182, 174, 150, 0.4);
}

header {
  width: 62%;
  min-width: 300px;
  background-color: #FFFFFF;
}

.footer {
  padding: 1em 0;
}

.footer img {
  width: 200px;
  height: auto;
}

.tab-container {
  width: 62%;
}

.superheader-image img {
  width: 100%;
  height: auto;
}

.superheader-title {
  padding: .5em 2em;
}

.header-title {
  font-family: 'Oswald Regular';
  text-align: left;
  color: #5A4643;
  font-size: 2em;
}

.subhead-title {
  font-family: 'PermanentMarker Regular';
  text-align: left;
  color: #8EB734;
  font-size: 1em;
}

table.ingredients {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
}

table.ingredients th,
td {
  padding: .3em;
  line-height: 140%;
}

.image-container {
  margin: 1em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.image-sm {
  width: 23%;
}

.image-md-1 {
  width: 59%;
}

.image-md-2 {
  width: 39%;
}

.image-container p {
  padding: .5em;
}


/* Tabs CSS -- colors, tab setting, breakpoints, selectors relative to radio inputs */

.tabs {
  background-color: #FFFFFF;
  padding: 1.6em 3em;
  height: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.01);
  border-radius: 0px;
  min-width: 240px;
}

.tabs input[name="tab-control"] {
  display: none;
}

.tabs .content section h3 {
  font-family: 'Oswald Regular';
  font-size: 1.2em;
  padding-bottom: .6em;
}

.tabs ul li label p {
  font-family: 'Oswald Regular';
  margin: .5em 0;
  font-size: 1.5em;
}

div.content {
  width: 100%;
  margin-top: 1.8em;
  text-align: left;
  font-family: 'Roboto Regular';
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 33%;
  padding: 0 .625rem;
  text-align: center;
}

.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929DAF;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs ul li label br {
  display: none;
}

.tabs ul li label img {
  fill: #929DAF;
  height: 3.5em;
  width: auto;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #BEC5CF;
}

.tabs .slider {
  position: relative;
  width: 33%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0;
  height: 4px;
  background-color: #AC4C3D;
  border-radius: 1px;
}

.steps ul {
  list-style-type: disc;
  width: 100%;
  display: block;
  padding-left: 5%;
}

.steps ul li {
  text-align: left;
  flex: inherit;
  width: 90%;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.5;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label,
.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label,
.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
  cursor: default;
  color: #AC4C3D;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label,
  .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label,
  .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1),
.tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2),
.tabs input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.slider {
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.slider {
  -webkit-transform: translateX(101%);
  transform: translateX(101%);
}

@-webkit-keyframes content,
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}


/* Accordion CSS */

.tool-tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  text-align: left;
  margin: .8em 0;
}

.tool-tab {
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;
}

.tool-tab-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  margin-top: .1em;
  background-color: #AC4C3D;
  font-family: 'Oswald Bold';
  cursor: pointer;
}

.tool-tab-label:hover {
  background-color: #B6AE96;
}

.tool-tab-label::after {
  content: "\276F";
  width: 5%;
  height: 100%;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tool-tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background-color: #FFFFFF;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tool-tab-content h3 {
  padding-top: 1em;
}

.tool-tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-size: 0.75em;
  background-color: #AC4C3D;
  cursor: pointer;
}

.tab-tab-close:hover {
  background-color: #AC4C3D;
}

input:checked+.tool-tab-label {
  background-color: #B6AE96;
}

input:checked+.tool-tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

input:checked~.tool-tab-content {
  max-height: 100%;
}


/* Responsive CSS */


/* iPad Pro */

@media (max-width: 1024px) {
  header {
    width: 100%;
  }
  .header-title {
    font-size: 3em;
  }
  .subhead-title {
    font-size: 2em;
  }
  .tabs ul li label {
    white-space: initial;
  }
  .tab-container {
    width: 100%;
    height: auto;
  }
  .tabs {
    padding: 2em;
  }
  .tabs .content section h3,
  .tabs ul li label p {
    font-size: 1.8em;
  }
  .tabs ul li label p {
    margin: .6em 0;
  }
  .tabs ul li label img {
    height: 4.5em;
    width: auto;
  }
  .tabs ul li label br {
    display: initial;
  }
  .content section {
    font-size: 1.5em;
  }
  .tool-tab-content h3 {
    padding-top: .5em;
  }
}


/* iPad */

@media (max-width:768px) {
  .header-title {
    font-size: 2.5em;
  }
  .subhead-title {
    font-size: 1.5em;
  }
  .footer {
    padding: .8em 0;
  }
  .tabs .content section h3,
  .tabs ul li label p {
    font-size: 1.2em;
  }
  .tabs ul li label img {
    height: 3.5em;
    width: auto;
  }
  .content section {
    font-size: 1.2em;
  }
}


/* mobile CSS */

@media (max-width: 600px) {
  .header-title {
    font-size: 2em;
  }
  .subhead-title {
    font-size: 1em;
  }
  .tabs ul li label {
    padding: .5em;
    border-radius: 5px;
  }
  .tabs ul li label p {
    font-size: 1em;
  }
  .tabs ul li label img {
    height: 2.5em;
    width: auto;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 1.25em;
  }
  .tabs .content section h2 {
    display: block;
  }
  .image-sm,
  .image-md-1,
  .image-md-2 {
    width: 100%;
    padding-bottom: 1em;
  }
}